<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="quantity_control(quantityValue, productId)">
    <div class="input-group input-spinner">
        <input type="button" value="-" class="button-minus btn btn-sm" data-field="quantity">
        <input type="number" step="1"
               th:value="${quantityValue}"
               th:id="'quantity' + ${product.id}"
               name="quantity"
               class="quantity-field form-control-sm form-input"
               min="1">
        <input type="button" value="+" class="button-plus btn btn-sm" data-field="quantity">
    </div>

</div>
</body>

</html>