<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="fragments :: page_head('Home - FreshCart Admin', 'none')" />

<body>
	<div th:replace="navigation :: top_nav"></div>

	<div class="main-wrapper">
		<div th:replace="navigation :: menu"></div>
		
		<!-- main content -->
		<main class="main-content-wrapper bg-white">
			<div class="container">
				<h2>FreshCart Control Panel</h2>
				<!-- Your dashboard content here -->
			</div>
		</main>

		<div th:replace="fragments :: footer"></div>
	</div>

	<div th:replace="fragments :: common-js"></div>
</body>

</html>