<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<div class="modal fade" id="returnOrderModal" th:fragment="content">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="returnOrderModalTitle">Return Order Request</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form onsubmit="return submitReturnOrderForm();">
                <div class="modal-body">
                    <div id="divReason">
                        <div class="mb-3">Reason:</div>
                        <div class="form-check mb-2">
                            <input class="form-check-input" name="returnReason" type="radio" 
                                   value="Product does not match description" required/>
                            <label class="form-check-label">Product does not match description</label>
                        </div>
                        <div class="form-check mb-2">
                            <input class="form-check-input" name="returnReason" type="radio"
                                   value="Product is damaged/defective"/>
                            <label class="form-check-label">Product is damaged/defective</label>
                        </div>
                        <div class="form-check mb-2">
                            <input class="form-check-input" name="returnReason" type="radio"
                                   value="Product is expired/near expiry"/>
                            <label class="form-check-label">Product is expired/near expiry</label>
                        </div>
                        <div class="form-check mb-2">
                            <input class="form-check-input" name="returnReason" type="radio"
                                   value="Quality not as expected"/>
                            <label class="form-check-label">Quality not as expected</label>
                        </div>
                        <div class="form-check mb-3">
                            <input class="form-check-input" name="returnReason" type="radio"
                                   value="Other reason"/>
                            <label class="form-check-label">Other reason</label>
                        </div>
                        <div class="mb-3">
                            <textarea class="form-control" id="returnNote" rows="3" 
                                    maxlength="120" placeholder="Additional information"></textarea>
                        </div>
                    </div>
                    <div class="text-center" id="divMessage"></div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" id="firstButton">Send Request</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal" 
                            id="secondButton">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
