<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="content" th:remove="tag">
	<div class="card shadow-sm border-0">
		<div class="card-body">
			<div class="row g-4">
				<!-- Length -->
				<div class="col-md-6">
					<label class="form-label">Length</label>
					<div class="input-group">
						<input type="text" class="form-control" th:value="${product.length}" readonly />
						<span class="input-group-text bg-light">inch</span>
					</div>
				</div>

				<!-- Width -->
				<div class="col-md-6">
					<label class="form-label">Width</label>
					<div class="input-group">
						<input type="text" class="form-control" th:value="${product.width}" readonly />
						<span class="input-group-text bg-light">inch</span>
					</div>
				</div>

				<!-- Height -->
				<div class="col-md-6">
					<label class="form-label">Height</label>
					<div class="input-group">
						<input type="text" class="form-control" th:value="${product.height}" readonly />
						<span class="input-group-text bg-light">inch</span>
					</div>
				</div>

				<!-- Weight -->
				<div class="col-md-6">
					<label class="form-label">Weight</label>
					<div class="input-group">
						<input type="text" class="form-control" th:value="${product.weight}" readonly />
						<span class="input-group-text bg-light">lbs</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>

</html>