<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
	<div th:fragment="content" th:remove="tag">
		<div class="card shadow-sm border-0">
			<div class="card-body">
				<!-- Short Description -->
				<div class="mb-4">
					<label class="form-label">Short Description</label>
					<div class="form-control bg-light" style="min-height: 100px;" th:utext="${product.shortDescription}"></div>
				</div>

				<!-- Full Description -->
				<div class="mb-4">
					<label class="form-label">Full Description</label>
					<div class="form-control bg-light" style="min-height: 200px;" th:utext="${product.fullDescription}"></div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>