<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: page_head('Shipping Rates - FreshCart Admin', 'none')" />

<body>
    <div th:replace="navigation :: top_nav"></div>
    <div class="main-wrapper">
        <div th:replace="navigation :: menu"></div>
        
        <!-- main -->
        <main class="main-content-wrapper bg-white">
            <div class="container">
                <!-- header -->
                <div class="row mb-8">
                    <div class="col-md-12">
                        <div class="d-md-flex justify-content-between align-items-center">
                            <div>
                                <h2>Shipping Rates</h2>
                            </div>
                            <div>
                                <a th:href="@{/shipping_rates/new}" class="btn btn-primary">Add Shipping Rate</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Search and Table -->
                <div class="row">
                    <div class="col-xl-12 col-12 mb-5">
                        <div class="card h-100 card-lg">
                            <!-- Search Form -->
                            <div class="p-4">
                                <div th:replace="fragments :: search_form_and_message" />
                            </div>

                            <!-- Table -->
                            <div class="card-body p-0">
                                <div class="table-responsive">
                                    <table class="table table-centered table-hover text-nowrap table-borderless mb-0">
                                        <thead class="bg-light">
                                            <tr>
                                                <th class="text-dark" th:replace="fragments :: column_link('id', 'ID', 'none')" />
                                                <th th:replace="fragments :: column_link('country', 'Country', 'none')" />
                                                <th th:replace="fragments :: column_link('state', 'State', 'none')" />
                                                <th th:replace="fragments :: column_link('rate', 'Rate', 'none')" />
                                                <th th:replace="fragments :: column_link('days', 'Days', 'none')" />
                                                <th th:replace="fragments :: column_link('codSupported', 'COD Supported', 'none')" />
                                                <th class="text-dark">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody class="text-dark">
                                            <tr th:each="rate : ${shippingRates}">
                                                <td>[[${rate.id}]]</td>
                                                <td>[[${rate.country.name}]]</td>
                                                <td>[[${rate.state}]]</td>
                                                <td>[[${rate.rate}]]</td>
                                                <td>[[${rate.days}]]</td>
                                                <td>
                                                    <div th:replace="shipping_rates/shipping_rates_fragment :: cod_support" />
                                                </td>
                                                <td>
                                                    <a class="btn btn-light btn-icon-text" 
                                                       th:href="@{'/shipping_rates/edit/' + ${rate.id}}"
                                                       data-bs-toggle="tooltip" data-bs-placement="top" title="Edit">
                                                        <i class="bi bi-pencil fs-5"></i>
                                                    </a>
                                                    
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div th:replace="fragments :: pagination('shipping rates')"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <div th:replace="fragments :: footer"></div>
    <div th:replace="fragments :: common-js"></div>

    <script type="text/javascript">
        moduleURL = "[[@{/shipping_rates}]]";

        $(document).ready(function() {
            var message = "[[${message}]]";
            if (message) {
                showSuccessMessage(message);
            }

        });
    </script>
</body>
</html>