<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: page_head('Verification Failed!', 'none')" />

<body>
	<div class="border-bottom shadow-sm">
		<nav class="navbar navbar-light py-2">
			<div class="container justify-content-center justify-content-lg-between">
				<a class="navbar-brand" th:href="@{/}">
					<img alt="FreshCart" class="d-inline-block align-text-top" th:src="@{${S3_BASE_URI + SITE_LOGO}}" style="width: 150px; height: auto;" />
				</a>
			</div>
		</nav>
	</div>

	<main>
		<section class="my-lg-14 my-8">
			<div class="container">
				<div class="row justify-content-center align-items-center">
					<!-- Left side image -->
					<div class="col-12 col-md-6 col-lg-4">
						<img alt="" class="img-fluid" src="images/svg-graphics/signup-g.svg">
					</div>

					<!-- Right side content -->
					<div class="col-12 col-md-6 col-lg-4 text-center">
						<h2>Customer Verification</h2>
						<h4>Your account was already verified, or the verification code
							is invalid.</h4>
					</div>
				</div>
			</div>
		</section>
	</main>

	<div th:replace="navigation :: footer_menu"></div>
</body>

</html>