<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: page_head('500 Error - FreshCart', 'none')" />

<body>
  <main>
    <section>
      <div class="container d-flex flex-column">
        <div class="row min-vh-100 justify-content-center align-items-center">
          <div class="offset-lg-1 col-lg-10 py-8 py-xl-0">
            <!-- Logo -->
            <div class="mb-10 mb-xxl-0">
              <a th:href="@{/}">
                <img th:src="@{${S3_BASE_URI + SITE_LOGO}}" alt="FreshCart Logo">
              </a>
            </div>
            
            <div class="row justify-content-center align-items-center">
              <!-- Content -->
              <div class="col-md-6">
                <div class="mb-6 mb-lg-0">
                  <h1>Something went wrong...</h1>
                  <p class="mb-8">Sorry, the server has encountered an error while processing your request.<br>
                    Please try again later or head back to home.</p>
                  <!-- Buttons -->
                  <a href="#" class="btn btn-dark">Help Center 
                    <i class="bi bi-arrow-right"></i>
                  </a>
                  <a th:href="@{/}" class="btn btn-primary ms-2">Back to home</a>
                </div>
              </div>
              
              <!-- Image -->
              <div class="col-md-6">
                <div>
                  <img th:src="@{/images/svg-graphics/error-500.svg}" alt="500 Error" class="img-fluid">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <script th:src="@{/js/jquery.min.js}"></script>
  <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>

</html>