<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <head th:replace="fragments :: page_head(${pageTitle}, 'tag')"/>
    <script crossorigin="anonymous"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
            src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link th:href="@{/star-rating/css/star-rating.css}" media="all" rel="stylesheet" type="text/css"/>
    <script th:src="@{/star-rating/js/star-rating.js}" type="text/javascript"></script>
    <link th:href="@{/star-rating/themes/krajee-svg/theme.css}" media="all" rel="stylesheet" type="text/css"/>
    <script th:src="@{/star-rating/themes/krajee-svg/theme.js}"></script>
    <link th:href="@{/libs/feather-webfont/dist/feather-icons.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/libs/tiny-slider/dist/tiny-slider.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/libs/slick-carousel/slick/slick.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/libs/slick-carousel/slick/slick-theme.css}" type="text/css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/drift-zoom@1.5.1/dist/drift-basic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/drift-zoom@1.5.1/dist/Drift.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-notify@0.5.5/dist/simple-notify.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/simple-notify@0.5.5/dist/simple-notify.min.js"></script>

</head>
<body>
<div class="container-fluid">
    <div th:replace="navigation :: header_menu"></div>
    <div th:replace="navigation :: search_nav"></div>
    <div th:replace="navigation :: category_nav"></div>
    <div th:replace="breadcrumb :: content"></div>
    


    <section class="mt-8">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="position-relative">
                        <div class="slider slider-for">
                            <div>
                                <img class="zoom-image" 
                                     th:src="@{${product.mainImagePath}}"
                                     th:data-zoom="@{${product.mainImagePath}}" 
                                     alt="Product image">
                            </div>
                            <th:block th:each="extraImage : ${product.images}">
                                <div>
                                    <img class="zoom-image"
                                         th:src="@{${extraImage.imagePath}}" 
                                         th:data-zoom="@{${extraImage.imagePath}}"
                                         alt="">
                                </div>
                            </th:block>
                        </div>
                        <div id="zoom-pane" class="position-absolute" style="top: 0; right: -100%; width: 100%; height: 100%;"></div>
                    </div>
                    <div class="slider slider-nav mt-4">
                        <div>
                            <img th:src="@{${product.mainImagePath}}" alt="" class="img-fluid rounded">
                        </div>
                        <th:block th:each="extraImage : ${product.images}">
                            <div>
                                <img th:src="@{${extraImage.imagePath}}" alt="" class="img-fluid rounded">
                            </div>
                        </th:block>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="ps-lg-10 mt-6 mt-md-0">
                        <a href="#!" class="mb-4 d-block">[[${product.brand.name}]]</a>
                        <h1 class="mb-1">[[${product.name}]]</h1>
                        <div class="mb-4">
                            <div class="d-flex align-items-center">
                                <div class="rating-stars">
                                    <th:block th:with="num=${product.averageRating}">
                                        <span th:each="i : ${#numbers.sequence(1, 5)}">
                                            <i class="fas fa-star"
                                               th:style="${i <= num ? 'color: #ffc107' : 'color: #e4e5e9'}">
                                            </i>
                                        </span>
                                    </th:block>
                                </div>
                                <a href="#" class="ms-2 text-decoration-none" onclick="switchToReviewsTab(); return false;">
                                    ([[${product.reviewCount}]] reviews)
                                </a>
                            </div>

                        </div>
                        <div class="fs-4">
                            <span class="fw-bold text-dark" th:if="${product.discountPercent <= 0}">
                                <div th:replace="product/product_fragment :: price_fragment(${product.price})"></div>
                            </span>
                            <span th:if="${product.discountPercent > 0}">
                                <span class="fw-bold text-dark">
                                    <div th:replace="product/product_fragment :: price_fragment(${product.discountPrice})"></div>
                                </span>
                                <span class="text-decoration-line-through text-muted">
                                    <div th:replace="product/product_fragment :: price_fragment(${product.price})"></div>
                                </span>
                                <span class="fs-6 ms-2 text-danger">
                                    [[${#numbers.formatInteger(product.discountPercent, 0, 'COMMA')}]]% Off
                                </span>
                            </span>
                        </div>
                        <hr class="my-6">
                        <div th:if="${product.inStock}">
                            <div class="input-group input-spinner">
                                <input type="button" value="-" class="button-minus btn btn-sm"/>
                                <input type="number" th:id="'quantity' + ${product.id}"
                                       th:data-instock="${product.inStock}"
                                       value="1" 
                                       class="quantity-field form-control-sm form-input"
                                       min="1"/>
                                <input type="button" value="+" class="button-plus btn btn-sm"/>
                            </div>
                        </div>
                        <div class="mt-3 row justify-content-start g-2 align-items-center">
                            <div class="col-xxl-4 col-lg-4 col-md-5 col-5 d-grid">
                                <button type="button" class="btn btn-primary" th:if="${product.inStock}"
                                        id="buttonAdd2Cart">
                                    <i class="feather-icon icon-shopping-bag me-2"></i>Add to cart
                                </button>
                                <button type="button" class="btn btn-secondary" th:unless="${product.inStock}" disabled>
                                    Out of Stock
                                </button>
                            </div>
                            <div class="col-auto" th:if="${product.inStock<= 20}">
                                <span class="text-danger" th:text="'Only ' + ${product.inStock} + ' left'"></span>
                            </div>
                        </div>

                        <hr class="my-6">

                        <!-- Thay thế bảng bằng short description -->
                        <div class="row align-items-center">
                            <div class="col">
                                <h6 class="mb-0">Short Description</h6>
                            </div>
                            <div class="col-auto">
                                <a href="#" class="text-decoration-none"
                                   onclick="switchToDescriptionTab(); return false;">View more</a>
                            </div>
                        </div>
                        <div class="mt-3">
                            <p class="mb-0" th:utext="${product.shortDescription}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="mt-lg-14 mt-8 ">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="nav nav-pills nav-lb-tab" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="product-tab" data-bs-toggle="tab"
                                    data-bs-target="#product-tab-pane" type="button" role="tab"
                                    aria-controls="product-tab-pane"
                                    aria-selected="true">Product Description
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="details-tab" data-bs-toggle="tab"
                                    data-bs-target="#details-tab-pane" type="button" role="tab"
                                    aria-controls="details-tab-pane"
                                    aria-selected="false">Product Details
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="reviews-tab" data-bs-toggle="tab"
                                    data-bs-target="#reviews-tab-pane" type="button" role="tab"
                                    aria-controls="reviews-tab-pane"
                                    aria-selected="false">Reviews
                            </button>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="product-tab-pane" role="tabpanel"
                             aria-labelledby="product-tab"
                             tabindex="0">
                            <div class="my-8">
                                <div class="mb-5">
                                    <h4 class="mb-1">Product Description</h4>
                                    <p class="mb-0" th:utext="${product.fullDescription}"></p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="details-tab-pane" role="tabpanel" aria-labelledby="details-tab"
                             tabindex="0">
                            <div class="my-8">
                                <div class="row">
                                    <div class="col-12">
                                        <h4 class="mb-4">Details</h4>
                                    </div>
                                    <div class="col-12">
                                        <table class="table table-striped">
                                            <tbody>
                                            <tr th:each="detail : ${product.details}">
                                                <th>[[${detail.name}]]</th>
                                                <td>[[${detail.value}]]</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="reviews-tab-pane" role="tabpanel" aria-labelledby="reviews-tab"
                             tabindex="0">
                            <div class="my-8">
                                <div class="mb-5">
                                    <div th:replace="product/product_top_reviews :: content"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--    <div th:replace="fragments :: modal_dialog"></div>-->
    <div th:replace="navigation :: footer_menu"></div>
</div>
<script type="text/javascript">
    Object.assign(window, {
        contextPath: "[[@{/}]]",
        productId: "[[${product.id}]]",
        csrfHeaderName: "[[${_csrf.headerName}]]",
        csrfValue: "[[${_csrf.token}]]",
        decimalDigits: "[[${DECIMAL_DIGITS}]]",
        decimalPointType: "[[${DECIMAL_POINT_TYPE}]]",
        thousandsPointType: "[[${THOUSANDS_POINT_TYPE}]]",
        currencySymbol: "[[${CURRENCY_SYMBOL}]]",
        currencySymbolPosition: "[[${CURRENCY_SYMBOL_POSITION}]]"
    });

    $(document).ready(function() {
        $("#buttonAdd2Cart").on("click", function(e) {
            e.preventDefault();
            addToCart(window.productId);
        });

        $('.slider-for').slick({
            slidesToShow: 1,
            slidesToScroll: 1,
            arrows: false,
            fade: true,
            asNavFor: '.slider-nav',
            prevArrow: '<button type="button" class="slick-prev"><i class="feather-icon icon-chevron-left"></i></button>',
            nextArrow: '<button type="button" class="slick-next"><i class="feather-icon icon-chevron-right"></i></button>'
        });
        $('.slider-nav').slick({
            slidesToShow: 3,
            slidesToScroll: 1,
            asNavFor: '.slider-for',
            dots: true,
            centerMode: true,
            focusOnSelect: true,
            prevArrow: '<button type="button" class="slick-prev"><i class="feather-icon icon-chevron-left"></i></button>',
            nextArrow: '<button type="button" class="slick-next"><i class="feather-icon icon-chevron-right"></i></button>'
        });

        $(".product-detail-rating-star").rating({
            displayOnly: true,
            hoverOnClear: false,
            showCaption: false,
            theme: 'krajee-svg'
        });
    });

    function switchToDescriptionTab() {
        // Tìm tất cả các tab và tab content
        const tabs = document.querySelectorAll('.nav-link');
        const tabContents = document.querySelectorAll('.tab-pane');

        // Tìm tab và tab content cụ thể cho mô tả sản phẩm
        const descriptionTab = document.querySelector('#product-tab');
        const descriptionTabContent = document.querySelector('#product-tab-pane');

        // Loại bỏ active class từ tất cả các tab và tab content
        tabs.forEach(tab => tab.classList.remove('active'));
        tabContents.forEach(content => content.classList.remove('show', 'active'));

        // Thêm active class vào tab và tab content mô tả
        descriptionTab.classList.add('active');
        descriptionTabContent.classList.add('show', 'active');

        // Tính toán vị trí scroll
        const headerHeight = document.querySelector('header')?.offsetHeight || 0;
        const offset = 100;
        const tabPosition = descriptionTabContent.getBoundingClientRect().top + window.pageYOffset - headerHeight - offset;

        // Scroll đến vị trí đã tính
        window.scrollTo({
            top: tabPosition,
            behavior: 'auto'
        });
    }

    function switchToReviewsTab() {
        // Tìm tất cả các tab và tab content
        const tabs = document.querySelectorAll('.nav-link');
        const tabContents = document.querySelectorAll('.tab-pane');

        // Tìm tab và tab content cụ thể cho reviews
        const reviewsTab = document.querySelector('#reviews-tab');
        const reviewsTabContent = document.querySelector('#reviews-tab-pane');

        // Loại bỏ active class từ tất cả các tab và tab content
        tabs.forEach(tab => tab.classList.remove('active'));
        tabContents.forEach(content => content.classList.remove('show', 'active'));

        // Thêm active class vào tab và tab content reviews
        reviewsTab.classList.add('active');
        reviewsTabContent.classList.add('show', 'active');

        // Tính toán vị trí scroll
        const headerHeight = document.querySelector('header')?.offsetHeight || 0;
        const offset = 100;
        const tabPosition = reviewsTabContent.getBoundingClientRect().top + window.pageYOffset - headerHeight - offset;

        // Scroll đến vị trí đã tính
        window.scrollTo({
            top: tabPosition,
            behavior: 'auto'
        });
    }

    document.addEventListener('DOMContentLoaded', function () {
        // Khởi tạo Drift cho tất cả ảnh có class zoom-image
        const driftImages = document.querySelectorAll('.zoom-image');
        driftImages.forEach(function(image) {
            new Drift(image, {
                paneContainer: document.querySelector('#zoom-pane'),
                inlinePane: false,
                containInline: true,
                zoomFactor: 3,
                hoverBoundingBox: true,
                handleTouch: true,
                touchDelay: 500,
                sourceAttribute: 'data-zoom',
                inlineOffsetX: 0,
                inlineOffsetY: 0
            });
        });

        // Slick slider code...
    });


</script>

<script type="text/javascript" th:src="@{/js/common_rating.js}"></script>
<script type="text/javascript" th:src="@{/js/cart.js}"></script>
<script type="text/javascript" th:src="@{/libs/slick-carousel/slick/slick.min.js}"></script>
<script type="text/javascript" th:src="@{/libs/tiny-slider/dist/min/tiny-slider.js}"></script>
<script type="text/javascript" th:src="@{/js/tns-slider.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.number.min.js}"></script>
<script type="text/javascript" th:src="@{/js/common_toast.js}"></script>
<script type="text/javascript" th:src="@{/js/review_vote.js}"></script>
<style>
.drift-zoom-pane {
    background: #fff;
    position: absolute;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1500;
    border: 1px solid #ddd;
}

.zoom-image {
    max-width: 100%;
    height: auto;
    cursor: crosshair;
}

#zoom-pane {
    z-index: 999;
    pointer-events: none;
}

.position-relative {
    position: relative;
    z-index: 1400;
}

.drift-bounding-box {
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.8);
}

.slick-slider {
    z-index: 1;
}

@media (max-width: 768px) {
    .drift-zoom-pane {
        max-width: 100%;
        transform: translateX(0);
        top: 0;
        left: 0;
    }
}

.input-group.input-spinner {
    position: relative;
    z-index: 1;
}
</style>
</body>
</html>
