<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="page_head(title, remove)" th:remove="${remove}">
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
	<meta content="width=device-width,initial-scale=1.0, minimum-scale=1.0"
		  name="viewport">

	<title>[[${title}]] - [[${SITE_NAME}]]</title>
	<link rel="stylesheet" th:href="@{/css/theme.min.css}" type="text/css"/>

	<link rel="stylesheet" th:href="@{/fontawesome/all.css}" type="text/css"/>


	<link rel="stylesheet" th:href="@{/bootstrap-icons/font/bootstrap-icons.min.css}" type="text/css"/>
	<link rel="stylesheet" th:href="@{/feather-webfont/dist/feather-icons.css}" type="text/css"/>
	<link rel="stylesheet" th:href="@{/libs/dropzone/dist/min/dropzone.min.css}" type="text/css"/>
	<link rel="stylesheet" th:href="@{/libs/tiny-slider/dist/tiny-slider.css}" type="text/css"/>
	<link rel="stylesheet" th:href="@{/libs/slick-carousel/slick/slick.css}" type="text/css"/>
	<link rel="stylesheet" th:href="@{/libs/slick-carousel/slick/slick-theme.css}" type="text/css"/>
	<link rel="stylesheet" th:href="@{/libs/simplebar/dist/simplebar.min.css}" type="text/css"/>

	<script crossorigin="anonymous"
			integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
			src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
	<script crossorigin="anonymous"
			integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
	<script crossorigin="anonymous"
			integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
			src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
	<script crossorigin="anonymous"
			integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-notify@0.5.5/dist/simple-notify.min.css"/>
	<script src="https://cdn.jsdelivr.net/npm/simple-notify@0.5.5/dist/simple-notify.min.js"></script>

</head>

<body>

<th th:fragment="column_link(fieldName, columnLabel, removeTag)"
	th:remove="${removeTag}"><a class="text-white"
								th:href="@{${moduleURL} + '/page/' + ${currentPage} + '?sortField=' + ${fieldName}  +'&sortDir=' + ${sortField != fieldName ? sortDir : reverseSortDir} + ${keyword != null ? '&keyword=' + keyword : ''} + ${categoryId != null ? '&categoryId=' + categoryId : ''}}">
	[[${columnLabel}]] </a> <span th:class="${sortDir == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}"
								  th:if="${sortField == fieldName}"></span>
</th>

<a class="page-link" th:fragment="page_link(moduleURL, pageNum, label)"
   th:href="@{${moduleURL} + '/page/' + ${pageNum} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">[[${label}]]</a>

<div th:fragment="pagination(moduleURL, entityName)" th:remove="tag">
	<div class="text-center m-1" th:if="${totalItems > 0}">
			<span>Showing [[${startCount}]] to
				[[${endCount}]] of [[${totalItems}]] [[${entityName}]]</span>
	</div>
	<div class="text-center m-1" th:unless="${totalItems > 0}">
		<span>No [[${entityName}]] found</span>
	</div>

	<div th:if="${totalPages > 1}">
		<nav>
			<ul class="pagination justify-content-center flex-wrap">
				<li
						th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
					<a th:replace="fragments :: page_link(${moduleURL}, 1, 'First')"></a>
				</li>
				<li
						th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
					<a
							th:replace="fragments :: page_link(${moduleURL}, ${currentPage - 1}, 'Previous')"></a>
				</li>

				<li
						th:class="${currentPage != i ? 'page-item': 'page-item active'}"
						th:each="i : ${#numbers.sequence(1, totalPages)}"><a
						th:replace="fragments :: page_link(${moduleURL}, ${i}, ${i})"></a>
				</li>

				<li
						th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
					<a
							th:replace="fragments :: page_link(${moduleURL}, ${currentPage + 1}, 'Next')"></a>
				</li>

				<li
						th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
					<a
							th:replace="fragments :: page_link(${moduleURL}, ${totalPages}, 'Last')"></a>
				</li>
			</ul>
		</nav>
	</div>
</div>

<div class="modal fade text-center" id="modalDialog" th:fragment="modal_dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="modalTitle">Warning</h4>
				<button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
			</div>

			<div class="modal-body">
				<span id="modalBody"></span>
			</div>

			<div class="modal-footer">
				<button class="btn btn-danger" data-bs-dismiss="modal" type="button">Close</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade text-center" id="confirmModal" th:fragment="confirm_modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Delete Confirmation</h4>
				<button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
			</div>

			<div class="modal-body">
				<span id="confirmText"></span>
			</div>

			<div class="modal-footer">
				<a class="btn btn-success" href="" id="yesButton">Yes</a>
				<button class="btn btn-danger" data-bs-dismiss="modal" type="button">No</button>
			</div>
		</div>
	</div>
</div>


<div th:fragment="format_currency(amount)" th:remove="tag">
		<span th:if="${CURRENCY_SYMBOL_POSITION == 'Before price'}"
			  th:remove="tag">[[${CURRENCY_SYMBOL}]]</span>[[${#numbers.formatDecimal(amount,
	1, THOUSANDS_POINT_TYPE, DECIMAL_DIGITS, DECIMAL_POINT_TYPE)}]]<span
		th:if="${CURRENCY_SYMBOL_POSITION == 'After price'}" th:remove="tag">[[${CURRENCY_SYMBOL}]]</span>
</div>

<div th:fragment="format_time(dateTime)" th:remove="tag">
	<span th:text="${#dates.format(dateTime, 'yyyy-MM-dd HH:mm:ss')}"></span>
</div>

<div th:fragment="currency_input(amount)" th:remove="tag">
	<input class="form-control" readonly
		   th:value="${(CURRENCY_SYMBOL_POSITION == 'Before price' ? CURRENCY_SYMBOL : '') + #numbers.formatDecimal(amount, 1, THOUSANDS_POINT_TYPE, DECIMAL_DIGITS, DECIMAL_POINT_TYPE) + (CURRENCY_SYMBOL_POSITION == 'After price' ? CURRENCY_SYMBOL : '')}"
		   type="text">
</div>

<div th:fragment="search_form()" th:remove="tag">
	<form class="form-inline m-3" th:action="@{${moduleURL} + '/page/1'}">
		<input name="sortField" th:value="${sortField}" type="hidden"/> <input
			name="sortDir" th:value="${sortDir}" type="hidden"/> Filter:&nbsp;
		<input class="form-control" name="keyword" required
			   th:value="${keyword}" type="search"/> &nbsp;&nbsp;
		<button class="btn btn-primary" type="submit">
			<i class="fas fa-search"></i>
		</button>
		&nbsp;&nbsp;
		<button class="btn btn-secondary" onclick="clearFilter()"
				type="button">
			<i class="fas fa-eraser"></i>
		</button>
	</form>
</div>

</body>

</html>