<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: page_head('Settings - FreshCart Admin', 'tag')" />

<body>
    <div th:replace="navigation :: top_nav"></div>
    <div class="main-wrapper">
        <div th:replace="navigation :: menu"></div>

        <!-- main content -->
        <main class="main-content-wrapper bg-white">
            <div class="container">
                <!-- header -->
                <div class="row mb-4">
                    <div class="col-md-12">
                        <h2>Site Settings</h2>
                        <div class="d-flex">
                            <a th:href="@{/}" class="text-inherit">Dashboard</a>
                            <span class="mx-2">/</span>
                            <span class="text-muted">Settings</span>
                        </div>
                    </div>
                </div>

                <!-- Navigation Tabs -->
                <ul class="nav nav-pills nav-lb-tab mb-4" id="settingTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="general-tab" data-bs-toggle="tab"
                                data-bs-target="#general" type="button" role="tab"
                                aria-controls="general" aria-selected="true">
                            General
                        </button>
                    </li>
<!--                    <li class="nav-item" role="presentation">-->
<!--                        <button class="nav-link" id="countries-tab" data-bs-toggle="tab"-->
<!--                                data-bs-target="#countries" type="button" role="tab"-->
<!--                                aria-controls="countries" aria-selected="false">-->
<!--                            Countries-->
<!--                        </button>-->
<!--                    </li>-->
<!--                    <li class="nav-item" role="presentation">-->
<!--                        <button class="nav-link" id="states-tab" data-bs-toggle="tab"-->
<!--                                data-bs-target="#states" type="button" role="tab"-->
<!--                                aria-controls="states" aria-selected="false">-->
<!--                            States-->
<!--                        </button>-->
<!--                    </li>-->
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="mailServer-tab" data-bs-toggle="tab"
                                data-bs-target="#mailServer" type="button" role="tab"
                                aria-controls="mailServer" aria-selected="false">
                            Mail Server
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="mailTemplates-tab" data-bs-toggle="tab"
                                data-bs-target="#mailTemplates" type="button" role="tab"
                                aria-controls="mailTemplates" aria-selected="false">
                            Mail Templates
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="payment-tab" data-bs-toggle="tab"
                                data-bs-target="#payment" type="button" role="tab"
                                aria-controls="payment" aria-selected="false">
                            Payment
                        </button>
                    </li>
                </ul>

                <!-- Tab Content -->
                <div class="tab-content" id="settingTabContent">
                    <div class="tab-pane active p-3" id="general" role="tabpanel">
                        <div th:replace="settings/general :: content"></div>
                    </div>
<!--                    <div class="tab-pane p-3" id="countries" role="tabpanel">-->
<!--                        <div th:replace="settings/countries :: content"></div>-->
<!--                    </div>-->
<!--                    <div class="tab-pane p-3" id="states" role="tabpanel">-->
<!--                        <div th:replace="settings/states :: content"></div>-->
<!--                    </div>-->
                    <div class="tab-pane p-3" id="mailServer" role="tabpanel">
                        <div th:replace="settings/mail_server :: content"></div>
                    </div>
                    <div class="tab-pane p-3" id="mailTemplates" role="tabpanel">
                        <div th:replace="settings/mail_templates/mail_templates :: content"></div>
                    </div>
                    <div class="tab-pane p-3" id="payment" role="tabpanel">
                        <div th:replace="settings/payment :: content"></div>
                    </div>
                </div>

            </div>
        </main>
    </div>

    <div th:replace="fragments :: footer"></div>
	<div th:replace="fragments :: common-js"></div>
    <!-- Scripts -->
    <script type="text/javascript" th:src="@{/js/quill-setup.js}"></script>
<!--    <script type="text/javascript" th:src="@{/js/countries_setting.js}"></script>-->
<!--    <script type="text/javascript" th:src="@{/js/states_setting.js}"></script>-->
    <script type="text/javascript" th:src="@{/js/settings.js}"></script>

    <script th:inline="javascript">
        /* <![CDATA[ */
        const messages = {
            NOT_FULL_FIELD: /*[[${@messageServiceAdmin.getMessage('NOT_FULL_FIELD')}]]*/ '',
            FILL_TOO_LONG: /*[[${@messageServiceAdmin.getMessage('FILL_TOO_LONG')}]]*/ '',
            MIS_MATCH_NUMBER_PORT: /*[[${@messageServiceAdmin.getMessage('MIS_MATCH_NUMBER_PORT')}]]*/ '',
            LOGO_UPLOAD_SIZE_ERROR: /*[[${@messageServiceAdmin.getMessage('LOGO_UPLOAD_SIZE_ERROR')}]]*/ '',
            LOGO_UPLOAD_TYPE_ERROR: /*[[${@messageServiceAdmin.getMessage('LOGO_UPLOAD_TYPE_ERROR')}]]*/ '',
        };
        /* ]]> */
    </script>

    <script type="text/javascript">
        MAX_FILE_SIZE = 102400;
        contextPath = "[[@{/}]]";
        var csrfHeaderName = "[[${_csrf.headerName}]]";
        var csrfValue = "[[${_csrf.token}]]";
        var moduleURL = "[[@{/settings}]]";

        $(document).ready(function() {
            var currentTab = /*[[${currentTab}]]*/ 'general';
            // Activate the correct tab
            $('button[data-bs-target="#' + currentTab + '"]').tab('show');

            var message = "[[${message}]]";
            if (message && message.trim() !== "") {
                showSuccessMessage(message);
            }
        });
    </script>
</body>
</html>